html,
body {
  margin: 0;
  padding: 0;
  background-color: lightcyan;
}

/* Header styling */
.header {
  background: darkcyan;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.name {
  font-size: 36px;
  color: white;
}

.menuNavigation {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.link {
  text-decoration: none;
  font-size: 22px;
  color: white;
}
/* Home Stying */
.pageHome {
  /* background-color: red; */
  padding: 25px 500px;
  margin: 200;
  /* border: 10px solid black; */
}

/* Imagine styling */
.imgFrmt {
  display: flex;
  width: 300px;
  float: right;
}
.imgFrmtThree {
  width: 300px;
  float: left;
}
/* Content Styling  */
.titleBig {
  font-size: 32px;
  text-align: center;
  padding: 10px;
  /* border: 5px solid black; */
}
.titleSmall {
  font-size: 24px;
  padding: 10px 0px;
}
.titleSmallRight {
  font-size: 24px;
  padding: 10px 0px;
  text-align: right;
}
.content {
  font-size: 18px;
}
.quote {
  font-size: 22px;
  font-style: italic;
  padding: 200px 0px;
}

/* .right {
  text-align: right;
} */
